<% @restaurants.each do |restaurant| %>
  
  <%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %> || <%= restaurant.category %></p>
<% end %>

<%= link_to "New Restaurant", "/restaurants/new" %>